@use "../../../util/helpers/sassHelpers.scss" as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
    @include width-height(100vw, 60px);
    background-color: $middle-brown;
    align-items: center;
    border-bottom: 15px solid $main-background;

    h1 button {
        display: flex;
        align-items: center;
        column-gap: 7px;
        color: #f5e8df;

        span {
            @include font-size-style-weight(23px, italic, 400);
            display: none;
        }
    }

     h1 + form + button {
        translate: 0 -7px;
        @include width-height(39px, 30px);
    }
}

@media screen and (min-width: 450px) {
    header {
        padding: 0 40px 0 20px;
    }
}

@media screen and (min-width: 600px) {
    header {
        column-gap: 30px;

        h1 button span {
            display: inline;
        }
    }
}
