@use "./../../../util/helpers/sassHelpers.scss" as *;

#table-svg-container {
    position: fixed;
    bottom: -10px;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        bottom: 13vh;
        width: 300px;
        height: 300px;
        border-radius: 40% 40% 40% 0;
        // background-color: rgb(251 245 181 / 26%);
        background: radial-gradient(
            circle,
            rgba(255, 245, 181, 0.6) 0%,
            rgba(231, 233, 148, 0.26) 100%
        );
        filter: blur(90px);
        z-index: 1;
    }
}

#table-decor {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: baseline;
    transform: translateY(15px);
    padding: 0 3vw;
}

#table-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}