@use "../../../util/helpers/sassHelpers.scss" as *;

#menu {
    @include width-height(170px, 50px);
    position: fixed;
    top: 45px;
    right: 0;
    transform: translateX(170px);
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
    background-color: $middle-brown;
}

.slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(170px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
