#photos-grid {
    --col-min-width: 200px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
    column-gap: 25px;
    row-gap: 70px;
    padding-bottom: 20vh;
}

.user-container + #photos-grid, #search-links-wrapper + #photos-grid {
    padding-top: 33px;
}


@media screen and (min-width: 400px) {
    .user-container + #photos-grid {
        padding-top: 25px;
    }
    
    #search-links-wrapper + #photos-grid {
        padding-top: 45px;
    }
    
}

@media screen and (min-width: 450px) {
    #photos-grid {
        --col-min-width: 330px;
    }
}

@media screen and (min-width: 890px) {
    #photos-grid {
        width: 80vw;
    }
}