@use "../../../util/helpers/sassHelpers.scss" as *;

.user-container {
    display: inline-flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    background-color: #d6c3ba;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 20px 22px;
    max-width: 90vw;
    color: $dark-font-color;

    a img {
        width: 75px;
        border-radius: 50%;
    }
}

.user-data:has(.bio, .social-container) {
    row-gap: 8px;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 76%;
    text-align: center;

    a h2 {
        color: $dark-font-color;
        font-size: 18px;
    }

    .bio {
        font-size: 15px;
        text-align: center;
        word-break: break-word;
    }

    .social-container {
        display: flex;
        column-gap: 20px;
        padding-top: 5px;

        svg {
            height: 25px;
            width: 25px;
            fill: $dark-font-color;
        }
    }
}

@media screen and (min-width: 450px) {
    .user-container {
        flex-direction: row;

        a img {
            width: 128px;
        }
    }

    .user-data {
        align-items: flex-start;

        .bio {
            font-size: 20px;
            text-align: start;
        }

        a h2 {
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 890px) {
    .user-container {
        max-width: 80vw;
    }
}
