.user-container {
    display: inline-flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    background-color: #d6c3ba;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 20px 22px;
    max-width: 90vw;

    img {
        width: 75px;
        border-radius: 50%;
    }
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    max-width: 76%;
    color: #623131;
    text-align: center;

    h2 {
        font-size: 18px;
    }

    .bio{
        font-size: 15px;
        text-align: center;
        word-break: break-word;
    }

    .social-container {
        display: flex;
        column-gap: 20px;
        padding-top: 5px;

        svg {
            height: 25px;
            width: 25px;
            fill: #623131;
        }
    }
}


@media screen and (min-width: 450px) {
    .user-container {
    flex-direction: row;
        max-width: 80vw;

        img {
            width: 128px;
        }
    }

    .user-data {
        align-items: flex-start;

        .bio{
            font-size: 20px;
            text-align: start;
        }

        h2 {
            font-size: 22px;
        }
    }
}
