#no-matches-wrapper {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 25px;
        font-weight: 600;
        color: #9e6363;
    }
}