@use "../../../util/helpers/sassHelpers.scss" as *;

    .photograph {
        @include width-height(100%, auto);
        max-height: 80vh;
        max-width: 80vw;
        border: solid 2px;
        border-bottom-color: #ffe;
        border-left-color: #614d40;
        border-right-color: #eed;
        border-top-color: #ccb;
        cursor: pointer;
    }

.disable-click {
    pointer-events: none;
}