$light-font-color: #f5e8df;
$dark-font-color: #623131;
$middle-brown: #A88173;
$main-background: #e1d5cd;

@mixin width-min-max ($min, $max) {
    min-width: $min;
    max-width: $max;
}

@mixin height-min-max ($min, $max) {
    min-height: $min;
    max-height: $max;
}

@mixin width-height ($w, $h) {
    width: $w;
    height: $h;
}

@mixin font-size-style-weight ($size, $style, $weight) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
}

%flex-column {
    display: flex;
    flex-direction: column;
}