@mixin width-min-max ($min, $max) {
    min-width: $min;
    max-width: $max;
}

@mixin height-min-max ($min, $max) {
    min-height: $min;
    max-height: $max;
}

@mixin width-height ($w, $h) {
    width: $w;
    height: $h;
}

%flex-column {
    display: flex;
    flex-direction: column;
}