@use "../../../util/helpers/sassHelpers.scss" as *;

.spinner-wrapper {
    @include width-height(100vw, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: #E1D5CD;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
 }
 
 .spinner::before,
 .spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
 }
 
 .spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #A88173 0%, #c3a499 100%);
  animation: spin8932 .5s infinite linear;
 }
 
 .spinner:after {
  width: 85%;
  height: 85%;
  background-color: #E1D5CD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 
 @keyframes spin8932 {
  to {
   transform: rotate(360deg);
  }
 }