@use "../src/util/helpers/sassHelpers.scss" as *;

body {
    background-color: $main-background;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;

    button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
    }

    a {
        text-decoration: none;
        font-style: normal;
        color: black;
    }

    main {
        padding: 65px 0 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}