@use "../../../util/helpers/sassHelpers.scss";

.frame-container {
    @extend %flex-column;

    .frame {
        background-color: #ddc;
        border: solid 13px #eee;
        border-color: #5a311f #6d3b2a #7d4c36;
        border-radius: 2px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
            0 5px 10px 5px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: inline-block;
        padding: 15px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            pointer-events: none;
            inset: -4px;
            border-radius: 2px;
            box-shadow: 0 0.2vw 0.5vw 0.2vw rgba(0, 0, 0, 0.25) inset;
        }

        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
            inset: -7px;
            border-radius: 2px;
            box-shadow: 0 0.2vw 0.5vw 0.3vw rgba(0, 0, 0, 0.25);
        }
    }
}

.observer {
    border: 2px solid red;
}